body {
    background: url(/src/img/sunset-1373171.jpg);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 5px solid black;
    margin-bottom: 50px;
    
    
    /*Efeito de Tranparencia*/
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.container a {
    text-decoration: none;
    padding-bottom: 3px;
    color: aliceblue;
}

.voltar a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.footer {
    list-style-type: none;
	bottom:0;
	width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    align-items: center;
    color: white;
    padding-top: 50px;
}

h1 {
    padding-top: 40px;
}

h1, h3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-bottom: 50px;
    color: white;
}
.video a {
    text-decoration: underline;
    font-size: 22px;
    color: white;
    display: flex;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin-bottom: 50px;
    color: white;
}


